.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todoform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-input-title {
  margin-top: 5rem;
  height: 30px;
  width: 400px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.todo-input-message {
  margin-top: 0.5rem;
  height: 55px;
  width: 1500px;
  font-size: 22px;
  padding: 10px;
  border-radius: 7px;
  border: none;
}

.btn {
  padding: 10px;
}

.add-button {
  width: 100px;
  height: 40px;
  margin-right: 20px;
  padding: 0.55em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.clear-button {
  width: 100px;
  height: 40px;
  margin-right: 20px;
  padding: 0.55em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.clear-button:hover{
  background: #96a5c2b4;
}

.add-button:hover{
  background: #96a5c2b4;
}

.todo-wrapper {
  justify-content: center;
  align-items: center;
}


.Todo {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 200px;
  align-items: center;
  background-color: #fff;
  position: relative;
}

.head,
.head1 {
  margin: 0;
}

.Todo p {
  margin-top: 0.5rem;
}
.head{
  color: rgb(167, 152, 152);
}

.e {
  position: absolute;
  margin-left: auto;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  color: red;
}

















@media screen and (max-width:1200px){
  .todo-input-title {
    width: 300px;
    height: 20px;
    font-size: 18px;
  }

  .todo-input-message {
    width: 800px;
    height: 40px;
    font-size: 25px;
  }
}

@media screen and (max-width:850px){
  .todo-input-title {
    width: 200px;
    height: 18px;
    font-size: 18px;
  }

  .todo-input-message {
    width: 650px;
    height: 30px;
    font-size: 20px;
  }
}

@media screen and (max-width:700px){
  .todo-input-title {
    width: 130px;
    height: 18px;
    font-size: 15px;
  }

  .todo-input-message {
    width: 450px;
    height: 30px;
    font-size: 20px;
  }

  .add-button {
    width: 70px;
    height: 30px;

  }
  .clear-button{
    width: 70px;
    height: 30px;
  }
}